<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUIZEME</title>
    
    <link rel="stylesheet" href="../public/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <div class="logo">
                <h4>QUIZEME</h4>
            </div>
            <div class="links">
                <a href="#" class="mainlink">Home</a>
                <a href="#team">About</a> 
                <a href="student.html">start Exam</a>
            </div>
        </div>

        <!-- LANDING PAGE -->

        <div class="landing">
            <div class="landingText" data-aos="fade-up" data-aos-duration="1000">
                <h1>Online.<span style="color:#e0501b;font-size: 4vw"> Exam Platform </span> </h1>
                <h3>Find and create free Exams and interactive lessons to engage any learner<br> </h3>
                <div class="btn">
                    <a href="makerPage.html"> Create Your Form </a>
                    
                </div>
            </div>
            <div class="landingImage" data-aos="fade-down" data-aos-duration="2000">
                <div id="animContainer"> </div>
                <!-- Scripts -->
                <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js'></script> <!-- path of bodymovin library-->
            </div>
        </div>

       

        <!-- INFO SECTION -->

        <div class="infoSection">
            <div class="infoHeader" data-aos="fade-up" data-aos-duration="1000">
                <h1>The services provided by <br> <span style="color:#e0501b">QUIZEME.</span> </h1>
            </div>
            <div class="infoCards">
                <div class="card one" data-aos="fade-up" data-aos-duration="1000">
                    <img src="public\images\movie.png" class="cardoneImg" alt="" data-aos="fade-up" data-aos-duration="1100">
                    <div class="cardbgone"></div>
                    <div class="cardContent">
                        <h2>Cost-Effective </h2>
                        <p>They are quick and simple as compared to the traditional exam method using pen and paper.</p>
                        <a href="#">
                            <div class="cardBtn">
                                <img src="public\images\next.png" alt="" class="cardIcon">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card two" data-aos="fade-up" data-aos-duration="1300">
                    <img src="public\images\learn.png" class="cardtwoImg" alt="" data-aos="fade-up" data-aos-duration="1200">
                    <div class="cardbgtwo"></div>
                    <div class="cardContent">
                        <h2>Easy to Use </h2>
                        <p>The process of using an online exam software is easy. Anyone with only a little know-how of the internet can use the platform with ease.                         </p>
                        <a href="#">
                            <div class="cardBtn">
                                <img src="public\images\next.png" alt="" class="cardIcon">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card three" data-aos="fade-up" data-aos-duration="1600">
                    <img src="public\images\videocall.png" class="cardthreeImg" alt="" data-aos="fade-up" data-aos-duration="1300">
                    <div class="cardbgone"></div>
                    <div class="cardContent">
                        <h2>No Human Error  </h2>
                        <p>Once the exam has been taken by a candidate. there is no human involvement either. This ensures an error-free evaluation of the exam.</p>
                        <a href="#">
                            <div class="cardBtn">
                                <img src="public\images\next.png" alt="" class="cardIcon">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- BANNER AND FOOTER -->

        <div class="banner">
            <div class="bannerText" data-aos="fade-right" data-aos-duration="1000">
                
               
            </div>
            <div class="bannerImg" data-aos="fade-up" data-aos-duration="1000">
              
            </div>
        </div>

        <div class="footer">
         
        </div>
    </div>
    <div id="team">
        <img  src="../public/images/team.jpg" width="60%" height="500">
        <h1>QUIZEME Team</h1>
        <span style="color:#e0501b"> <h2> Ahmed | Bilal | Amjad | Khlood | Doha </h2>  </span>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
            AOS.init();
    </script>
    <script src="../public/js/animation.js"></script>
</body>
</html>