<!DOCTYPE html>
<html>

<head>
    <title>exam maker page </title>
    <link type="text/css" rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body id="examBody">
    <div id="examInfoDiv">
        <div id="infoDiv">
        </div>
        <div id="counterDiv">
        </div>
    </div>
    <button id="addQuestionBtn" class="fixedBtn">new Question</button>
    <button id="finishQuestionBtn" class="fixedfinish">finish</button>
   
    <script type=”text/javascript”
        src=”http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML”></script>
    <script src="../public/js/requestA.js"></script>
    <script src="../public/js/classes.js"></script>
    <script src="https://stephino.github.io/dist/recorder.js"></script>
    <script src="../public/js/typeListener.js"></script>
    <script src="../public/js/recorderObject.js"></script>
    <script src="../public/js/exam_info.js"></script>
    <script src="../public/js/makerScript.js"></script>
</body>

</html>